<section class="container ms-auto">
  <div class="w-3/4"><app-contact-me></app-contact-me></div>
</section>
<section
  class="w-3/4 text-center my-20 relative bg-white m-auto min-h-[400px] md:p-6 mt-10 text-white border-0 focus:border-[var(--my-color)] focus:outline-none focus:ring-0"
>
  <div class="container min-h-[300px] flex justify-center items-center">
    <div class="space-y-2">
      <i class="fa-solid fa-envelope text-4xl text-[var(--my-color)]"></i>
      <figcaption class="md:w-1/2 text-center mx-auto">
        <p class="capitalize text-black">Sign Up For TeamMates Style News</p>
        <span class="text-[var(--text-sec-color)]"
          >Get 15% off your first purchaxse! Plus, be the first to know about
          sales, new product launches and exclusive offers!</span
        >
      </figcaption>
      <div class="mt-5 flex">
        <input
          type="text"
          class="rounded-lg border-gray-300 w-full"
          placeholder="Email"
        />
        <button class="main-btn ms-2">Subscribe</button>
      </div>
    </div>
  </div>
</section>
