<!-- <div class="flex justify-center items-center h-screen main bg-transparent">
  <div class="parent space-x-3 relative">
    <span class="fade-zoom text-4xl" style="animation-delay: 0s">D</span>
    <span class="fade-zoom text-4xl" style="animation-delay: 0.2s">e</span>
    <span
      class="animate__animated animate__lightSpeedInLeft text-4xl pt-2 custom-light-speed"
      style="color: var(--my-color)"
    >
      <i class="fa-solid fa-cart-shopping"></i>
    </span>
    <span class="fade-zoom text-4xl" style="animation-delay: 0.6s">O</span>
    <span class="fade-zoom text-4xl" style="animation-delay: 0.8s">r</span>
    <span class="fade-zoom text-4xl" style="animation-delay: 1s">a</span> -->

<!-- Loader -->
<!-- <span class="loader"></span>
  </div>
</div> -->

@if (loadCheck()) {
<div class="loader-overlay">
  <div class="parent space-x-3 relative text-white">
    <span class="fade-zoom text-4xl" style="animation-delay: 0s">D</span>
    <span class="fade-zoom text-4xl" style="animation-delay: 0.2s">e</span>
    <span
      class="animate__animated animate__lightSpeedInLeft text-4xl pt-2 custom-light-speed"
      style="color: var(--my-color)"
    >
      <i class="fa-solid fa-cart-shopping"></i>
    </span>
    <span class="fade-zoom text-4xl" style="animation-delay: 0.6s">O</span>
    <span class="fade-zoom text-4xl" style="animation-delay: 0.8s">r</span>
    <span class="fade-zoom text-4xl" style="animation-delay: 1s">a</span>
    <span class="loader"></span>
  </div>
</div>
}
