<section class="my-7 main-section">
  <figcaption class="space-y-2">
    <h1 class="text-bold">Contact Me</h1>
    <span class="text-[var(--text-sec-color)]">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, natus.
    </span>
  </figcaption>
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-5 p-2 space-y-5">
      <div>
        <label class="floating-label relative block">
          <input
            type="text"
            placeholder="FirstName"
            class="peer text-black input input-md w-full bg-white border-0 focus:ring-2 focus:ring-[var(--my-color)]"
          />
          <span
            class="absolute left-2 top-2 text-gray-500 bg-white px-1 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:bg-white peer-focus:-top-3 peer-focus:text-lg peer-focus:text-[var(--my-color)] peer-focus:bg-[var(--bg-color)]"
          >
            FirstName
          </span>
        </label>
      </div>

      <div>
        <label class="floating-label relative block">
          <input
            type="text"
            placeholder="LastName"
            class="peer input input-md w-full bg-white border-0 focus:ring-2 focus:ring-[var(--my-color)]"
          />
          <span
            class="absolute left-2 top-2 text-gray-500 bg-white px-1 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:bg-white peer-focus:-top-3 peer-focus:text-lg peer-focus:text-[var(--my-color)] peer-focus:bg-[var(--bg-color)]"
          >
            LastName
          </span>
        </label>
      </div>

      <div>
        <label class="floating-label relative block">
          <input
            type="text"
            placeholder="Enter Your Email"
            class="peer input input-md w-full text-black bg-white border-0 focus:ring-2 focus:ring-[var(--my-color)]"
          />
          <span
            class="absolute left-2 top-2 text-gray-500 bg-white px-1 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:bg-white peer-focus:-top-3 peer-focus:text-lg peer-focus:text-[var(--my-color)] peer-focus:bg-[var(--bg-color)]"
          >
            Enter Your Email
          </span>
        </label>
      </div>

      <!-- Todo de al htt4al -->

      <div>
        <label class="floating-label relative block">
          <input
            type="tel"
            placeholder="PhoneNumber"
            class="peer input input-md w-full text-black bg-white border-0 focus:ring-2 focus:ring-[var(--my-color)]"
          />
          <span
            class="absolute left-2 top-2 text-gray-500 bg-white px-1 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:bg-white peer-focus:-top-3 peer-focus:text-lg peer-focus:text-[var(--my-color)] peer-focus:bg-[var(--bg-color)]"
          >
            PhoneNumber
          </span>
        </label>
      </div>

      <div class="md:col-span-2">
        <select
          class="input text-black input-lg w-full border-0 focus:border-[var(--my-color)] focus:outline-none focus:ring-0"
        >
          <option disabled selected>Server location</option>
          <option>North America</option>
          <option>EU west</option>
          <option>South East Asia</option>
        </select>
      </div>

      <div class="md:col-span-2">
        <label for="" class="floating-label text-xl">
          <span
            class="absolute left-2 top-2 text-[var(--main-color)] bg-gray-200 px-1 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:bg-white peer-focus:-top-3 peer-focus:text-lg peer-focus:text-[var(--my-color)] peer-focus:bg-[var(--bg-color)]"
            >Message</span
          >
          <textarea
            placeholder="Message"
            class="min-h-[150px] bg-white input input-lg w-full border-0 text-black focus:border-[var(--my-color)] focus:outline-none focus:ring-0"
          ></textarea>
        </label>
      </div>

      <div class="md:col-span-2">
        <div class="flex items-center">
          <input
            id="link-checkbox"
            type="checkbox"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-2 focus:ring-blue-500"
          />
          <label
            for="link-checkbox"
            class="ms-2 text-sm font-medium text-gray-900"
          >
            I agree with the
            <a href="#" class="text-blue-600 hover:underline"
              >terms and conditions</a
            >.
          </label>
        </div>

        <button class="main-btn mt-3">Submit</button>
      </div>
    </div>
  </div>
</section>
