<section class="my-15">
  <figcaption class="text-center mb-10">
    <span class="text-[var(--second-color)] text-[24px]">categories</span>
    <h2 class="text-[35px] text-[var(--text-color)]">How Can We Help You !"</h2>
  </figcaption>
  <app-trendcat></app-trendcat>
</section>

<section>
  <div class="container">
    <figcaption class="text-center">
      <span class="text-[var(--second-color)] text-[24px]">Top Products</span>
      <h2 class="text-[var(--text-color)] text-[40px]">Top Picks for You!"</h2>
    </figcaption>
    <div
      class="parent my-10 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      @for (product of productList | paginate: { id: 'foo', itemsPerPage:
      pagesize, currentPage: p , totalItems: total }; track product.id) {

      <app-card [product]="product"></app-card>

      }
    </div>
  </div>
  <div class="flex justify-center my-6">
    <pagination-controls
      class="my-pagination"
      id="foo"
      (pageChange)="getProducts($event)"
    >
    </pagination-controls>
  </div>
</section>
