<footer class="relative py-10 bg-[var(--bg-footer)] text-white">
  <!-- <div class="flex items-center gap-3 text-nowrap">
    <input type="text" class="rounded-lg border-gray-300" placeholder="Email" />
    <button class="btn btn-soft btn-primary">Share App Link</button>
  </div> -->
  <!-- todo for shadowww -->

  <!-- <footer
    class="py-10 bg-black text-white shadow-[inset_0_3px_10px_-6px_var(--my-color)]"
  ></footer> -->

  <span
    class="pointer-events-none absolute inset-x-0 top-0 h-[2px] bg-[var(--my-color)] shadow-[0_0_6px_var(--my-color),0_0_14px_var(--my-color)]"
  ></span>
  <!-- todo for shadowww -->

  <div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-[3fr_1fr_1fr_1fr] gap-4">
      <!-- todo 1st -->
      <div class="p-4 text-start">
        <div class="mb-5 space-y-6">
          <h3 class="text-2xl text-white">DealOra</h3>
          <p class="text-gray-500 text-sm">
            We Will Send You a Link, Open it on Your Phone to download the app
          </p>
        </div>
        <input
          type="text"
          class="rounded-lg border-gray-300"
          placeholder="Email"
        />
        <button
          class="main-btn ms-2 bg-[var(--second-color)] text-white hover:bg-white hover:text-[var(--second-color)] hover:border-[var(--second-color)]"
        >
          Subscribe
        </button>
        <div class="my-3">
          <span
            >By subscribing you agree to with our Privacy Policy and provide
            consent to receive updates from our company.</span
          >
        </div>
      </div>

      <!-- todo 2nd -->
      <div class="p-4 text-start">
        <ul class="space-y-1">
          <p class="py-4">About Us</p>
          <li>
            <span>FAQ</span>
          </li>
          <li>
            <span>Contact</span>
          </li>
          <li>
            <span>Returns</span>
          </li>
          <li>
            <span>Blog</span>
          </li>
          <li>
            <span>Shipping</span>
          </li>
        </ul>
      </div>

      <!-- todo 3rd -->
      <div class="p-4 text-start">
        <ul class="space-y-1">
          <p class="py-4">Customer Support</p>
          <li>
            <span>Affiliates</span>
          </li>
          <li>
            <span>Apple Pay Payments</span>
          </li>
          <li>
            <span>Returns</span>
          </li>
          <li>
            <span>Returns Policy</span>
          </li>
          <li>
            <span>Returns</span>
          </li>
        </ul>
      </div>

      <!-- todo 4th -->

      <div class="p-4 text-start gap-2">
        <ul class="space-y-1 icon-parent cursor-pointer">
          <p class="py-4">Follow Us</p>
          <li>
            <span
              class="brand hover:text-blue-400 transition-all hover:scale-110"
            >
              <a href=""><i class="fa-brands fa-facebook text-blue-500"></i></a>
              Facebook</span
            >
          </li>
          <li>
            <span
              class="brand hover:text-gray-400 transition-all hover:scale-110"
            >
              <a href=""><i class="fa-brands fa-github text-white"></i></a>
              GitHub</span
            >
          </li>
          <li>
            <span
              class="w-full brand hover:text-red-500 transition-all hover:scale-110"
              ><a href=""><i class="fa-brands fa-youtube text-red-500"></i></a>
              YouTube</span
            >
          </li>
          <li>
            <span
              class="brand brand hover:text-pink-400 transition-all hover:scale-110"
              ><a><i class="fa-brands fa-instagram text-pink-500"></i></a>
              Instagram</span
            >
          </li>
          <li>
            <span
              class="brand hover:text-blue-400 transition-all hover:scale-110"
              ><a><i class="fa-brands fa-linkedin text-blue-600"></i></a>
              Linkedin</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- todo  payment img -->
  <div>
    <!-- <div class="pay-details md:flex justify-between items-center my-5">
      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0">Payment partners</h3>
        <img src="/images/amazon-pay.png" width="50px" alt="" />
        <img src="/images/American-Express-Color.png" width="50px" alt="" />
        <img src="/images/paypal.png" width="50px" alt="" />
        <img src="/images/mastercard.webp" width="50px" alt="" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
        <img src="/images/get-google-play.png" width="100px" alt="" />
        <img src="/images/get-apple-store.png" width="100px" alt="" />
      </div>
    </div> -->
  </div>
  <div class="mt-5">
    <ul class="flex justify-around f">
      <li><p class="block">© 2025 Trendify. All rights reserved.</p></li>
      <li>
        <ul class="md:flex md:space-x-7">
          <li><span>Privacy Policy</span></li>
          <li><span>Terms of Service</span></li>
          <li><span>Cookies Settings</span></li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
